/*
 *******************************************************  
 * 	Comment
 *******************************************************

 */

/*
 *******************************************************  
 * 	CSS rules
 *******************************************************
 
 */
body {
	/*
	 *******************************************************  
	 * 	Colours
	 *******************************************************
	 
	 */
	background-color: #A81B1B;
	color: white;

	/*
	 *******************************************************  
	 * 	Images and Files
	 *******************************************************
	 
	 */
	background-image: url('http://kylebstiff.files.wordpress.com/2013/04/red-sun-over-desert.jpg');
	background-size: cover;

	/*
	 *******************************************************  
	 * 	Fonts
	 *******************************************************
	 
	 */
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
}

/*
 *******************************************************  
 * 	Selection: Elements
 *******************************************************
 
 */
h1 {
	font-size: 50px;
}

/*
 *******************************************************  
 * 	Sizes
 *******************************************************
 
 */
h2 {
	font-weight: normal;
	font-size: 26px;
}

a {
	color: white;
}

/*
 *******************************************************  
 * 	Selection: IDs
 *******************************************************
 
 */
#my-name {

}

/*
 *******************************************************  
 * 	Selection: Classes
 *******************************************************
 
 */
.rounded-img {
	border-radius: 15px;
}

/*
 *******************************************************  
 * 	Positioning
 *******************************************************
 display Attribute

 position Attribute

 float Attribute

 */
.push-left {
	padding-top: 5%;
	padding-left: 5%;
	float: left;
	width: 25%;
}

.push-right {
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	float: right;
	width: 60%;
}

/*
 *******************************************************  
 * 	Selection: Filtering
 *******************************************************
 
 */
.push-left img {
	width: 60%;
}

.push-right img {
	width: 15%;
}

/*
 *******************************************************  
 * 	Working with Lists
 *******************************************************
 
 */
ul {
	list-style: none;
	padding-left: none;
}

li {
	display: inline;
}

li a {
	text-decoration: none;
}

/*
 *******************************************************  
 *  Working with Tables
 *******************************************************
 
 */
table {
	border-spacing: 0px;
	width: 100%;
}

table td {
	border: 1px solid white;
	padding: 10px;
}

/*
 *******************************************************  
 * 	Working with Forms
 *******************************************************
 
 */
form {

}

form label, form input {
	display: block;
}

form input {
	font-size: 16px;
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
}

form textarea {
	font-size: 16px;
	padding: 10px;
	height: 10%;
	width: 100%;
	margin-bottom: 20px;
}